<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shkatulka</title>
  <link href="https://fonts.cdnfonts.com/css/bickham-script-one" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<header class="header">
  <div class="wrapper">
    <div class="header__logo search">
      <img class="logo" src="/assets/header/logo.svg" alt="">
      <h1 class="logo_title title title--black ">
        <span class="logo_word word">Ш</span>катулка
      </h1>
      <div class="header__icons icons">
        <a href="<%= enter_path %>">
          <img class="profile" src="/assets/header/profile.svg" alt="">
        </a>
        <a href="">
          <img class="Search" src="/assets/header/Search.svg" alt="">
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="highlight"></div>
    </div>
    <div class="header__nav nav">
      <a class="nav__link " href="<%= trends_path %>">Тренды</a>
      <a class="nav__link " href="<%= stones_path %>">Камни</a>
      <a class="nav__link nav__link--selected" href="<%= jewelrystory_path %>">Украшения</a>
      <a class="nav__link" href="<%= history_path %>">История</a>
    </div>
  </div>
</header>
<section class="main-section">
  <div class="main__navigation">
    <a href="<%= jewelry_path %>" class="bttn">
      <img src="/assets/jewelry/btn.svg" alt="">
    </a>
    <p class="author grey__text">Автор
      статьи:<br>Анастасия
      Волковская</p>
  </div>
  <div class="background">
    <div class="banner">
      <div class="banner__img">
      </div>
      <div class="jewelry">
        <div class="title__name">
          <p class="tab grey__text">Камни/Циркон</p>
          <h1 class="jewelry_title">Циркон</h1>
          <div class="icon">
            <img class="icon__img" src="/assets/jewelry/watch.svg" alt="">
            <p class="icon__text grey__text">1237</p>
            <img class="icon__img" src="/assets/jewelry/like.svg" alt="">
            <p class="icon__text grey__text">543</p>
          </div>
        </div>
        <div class="line">
          <p class="data__text grey__text">01.02.2024</p>
        </div>
        <p class="jewelry__text">Цирко́н (нем. Zirkon ← перс. زرگون‎ [заргун] «золотистый») — минерал
          подкласса островных силикатов, ортосиликат циркония ZrSiO4. Содержит, как правило, 1−4 % гафния,
          изоморфно замещающего цирконий в кристаллической решётке. Также может содержать другие
          редкоземельные элементы в незначительных количествах.<br><br><br>Кристаллизуется в
          тетрагональной
          сингонии, образуя дипирамидальные и призматические кристаллы.Твердость по шкале Мооса 7—8;
          плотность 4,680—4,710 г/см³. Цвет варьирует в зависимости от
          содержания примесей: от коричневато-жёлтого до коричневого, сероватый, красный, розовый; иногда
          бесцветен. Блеск сильный алмазный, в условиях метамиктизации жирный. Спайность несовершенная по.
          Обычно радиоактивен, всегда содержит примеси редких (REE) и радиоактивных (U, Th) элементов,
          однако редко в значительных количествах. Образцы циркона, обладающие заметной примесью урана и
          его дочерних продуктов радиоактивного распада, непрозрачны из-за деградации кристаллической
          решётки.<br><br><br><br>Магматический, встречается в гранитах, сиенитах и др. породах, обычен в
          пегматитах.
          Почти во всех типах магматических горных пород присутствует в роли акцессорного минерала. В
          кристаллах с
          высоким содержанием радиоактивных элементов частицы, образующиеся в результате их распада,
          разрушают структуру циркона, в результате чего он становится метамиктным. Химически очень
          устойчив, поэтому часто используется для изучения геологического прошлого нашей планеты. При
          выветривании вмещающих его пород концентрируется в россыпях. В начале 2000-х годов в западной
          Австралии (местность Джек Хиллз[en]) найдены кристаллы циркона, возраст которых определён как
          превышающий 4 миллиарда лет. Это древнейший из материалов, обнаруженных на Земле. В России
          крупные месторождения циркона приурочены к щелочным породам (нефелиновые сиениты, миаскиты и
          пр.). Самые крупные запасы этого минерала находятся в Хибинском щелочном массиве нефелиновых
          сиенитов на Кольском полуострове, а также на Южном Урале, где циркон встречается в миаскитах
          (Вишневые горы).
        </p>
        <div class="zircon__row">
          <div class="img__js">
            <img class="zircon__first" src="/assets/zircon/zirkon.jpg" alt="">
            <div class="zir" href="#zircon__second">
              <button class="icons__img">
                <img class="" src="/assets/zircon/icon.svg" alt="">
              </button>
            </div>
          </div>
          <div class="img__js hidden">
            <img class="zircon__second " src="/assets/zircon/2.jpg" alt="">
            <div class="zir" href="#zircon__second">
              <button class="icons__img ">
                <img class="" src="/assets/zircon/icon.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="popular">
        <div class="wrapper">
          <div class="title-group">
            <h1 class="jewelry_title">Читать еще:</h1>
            <div class="divider__second">
              <div class="highlight__second"></div>
            </div>
          </div>
          <div class="popular rec__visible">
            <div class="popular__flex rec__flex">
              <a class="popular__item rec__item">
                <div class="backgradient">
                  <img class="popular__img rec__img" src="/assets/stones/topaz.png" alt="">
                </div>
                <p class="popular__text rec__text text">Топаз</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </a>
              <a class="popular__item rec__item">
                <div class="backgradient">
                  <img class="popular__img rec__img" src="/assets/stones/opal.png" alt="">
                </div>
                <p class="popular__text rec__text text">Опал</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </a>
              <a class="popular__item rec__item">
                <div class="backgradient">
                  <img class="popular__img rec__img" src="/assets/stones/alexandrit.png" alt="">
                </div>
                <p class="popular__text rec__text text">Александрит</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="comment__wrapper">
          <div class="title-group">
            <h1 class="jewelry_title">2 комментария</h1>
            <div class="divider__second">
              <div class="highlight__second"></div>
            </div>
          </div>
          <div class="comment">
            <div class="cooment1">
              <div class="slot">
                <img class="avatar" src="/assets/comment/avatar1.jpg" alt="Avatar">
                <div class="account-info">
                  <span class="account-name">Cherrygirl</span>
                  <span class="time-ago">2 часа</span>
                </div>
              </div>
              <div class="comment-content">
                <p class="comment-text">Какая красота! Глаз не оторвать</p>
                <div class="interactions">
                  <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
                  <span class="like-count">8</span>
                  <span class="reply">Ответить</span>
                </div>
              </div>
            </div>
            <div class="cooment2">
              <div class="slot">
                <img class="avatar" src="/assets/comment/avatar2.jpg" alt="Avatar">
                <div class="account-info">
                  <span class="account-name">Leylalyy</span>
                  <span class="time-ago">2 часа</span>
                </div>
              </div>
              <div class="comment-content">
                <p class="comment-text">Я фанатка этой женщины!</p>
                <div class="interactions">
                  <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
                  <span class="like-count">4</span>
                  <span class="reply">Ответить</span>
                </div>
              </div>
            </div>
            <div class="comment-form-container">
              <form class="comment-form" action="submit-comment.php" method="post">
                <textarea name="comment" placeholder="Написать комментарии..."></textarea>
                <button type="submit" class="submit-btn">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <img class="footer__detail" src="/assets/common/footer.png" alt="">
    <div class="subscribe__wrapper">
      <div class="row">
        <div class="follow">
          <h1 class="footer__name title--wht">
            <span class="footer_word">Ш</span>катулка
          </h1>
          <p class="footer__text">Шкатулка — самый утонченный медиа-сервис,<br>хранящий истории
            легендарных
            украшений<br>и драгоценных камней</p>
        </div>
        <div class="column">
          <div class="distribution__wrapper">
            <h3 class="distribution__title">Следите за нашими новостями!</h3>
            <div class="footer__flex">
              <div class="follow">
                <form action="" class="follow__form">
                  <input class="follow__email" type="email" placeholder="">
                  <button class="follow__btn" type="submit">Отправить</button>
                </form>
              </div>
            </div>
            <div class="wrapper__footer">
              <div class="wrapper__info">
                <div class="footer__info">
                  <h3 class="footer__subtitle">Поддержка</h3>
                  <ul class="footer__menu">
                    <li><a class="footer__common text--opacity" href="">Сообщить об
                      ошибке</a>
                    </li>
                    <li><a class="footer__common text--opacity" href="">shkatulka@mail.ru</a>
                    </li>
                  </ul>
                </div>
                <div class="footer__info">
                  <h3 class="footer__subtitle">О нас</h3>
                  <ul class="footer__menu">
                    <li><a class="footer__common text--opacity " href="">Команда</a></li>
                    <li><a class="footer__common text--opacity " href="">Правила
                      платформы</a>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="footer__detals">
                <li><a class="footer__common common--white ">Пользовательское
                  соглашение</a></li>
                <li><a class="footer__common common--white " href="">HSE ADC</a></li>
                <a class="copyright">@2023</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</footer>
<script src="zircon.js"></script>
</body>
