<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shkatulka</title>
  <link href="https://fonts.cdnfonts.com/css/bickham-script-one" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<header class="header">
  <div class="wrapper">
    <div class="header__logo search">
      <img class="logo" src="/assets/header/logo.svg" alt="">
      <h1 class="logo_title title title--black ">
        <span class="logo_word word">Ш</span>катулка
      </h1>
      <div class="header__icons icons">
        <a href="<%= enter_path %>">
          <img class="profile" src="/assets/header/profile.svg" alt="">
        </a>
        <a href="">
          <img class="Search" src="/assets/header/Search.svg" alt="">
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="highlight"></div>
    </div>
    <div class="header__nav nav">
      <a class="nav__link" href="<%= trends_path %>">Тренды</a>
      <a class="nav__link" href="<%= stones_path %>">Камни</a>
      <a class="nav__link nav__link--selected" href="<%= jewelrystory_path %>">Украшения</a>
      <a class="nav__link" href="<%= history_path %>">История</a>
    </div>
  </div>
</header>
<section class="main-section">
  <div class="background">
    <div class="banner">
      <div class="title-group">
        <a class="jewelry__title title-main" href="">Украшения</a>
        <div class="divider__second">
          <div class="highlight__second"></div>
        </div>
      </div>
      <p class="jewelry__text">Посмотрите самые модные, креативные<br>и инновационные дизайны
        украшений.<br>Изучите последние тенденции в области<br>ювелирных украшений с драгоценными камнями.
      </p>
      <div class="catalog__wrapper">
        <a class="cards__item card card--long">
          <img class="card__img img__diana" src="/assets/jewelrystory/diana.jpg" alt="">
          <h2 class="card__title">История помолвочного кольца<br>принцессы Дианы</h2>
          <p class="card__text">Сапфир в окружении бриллиантов —<br>самое известное в мире помолвочное
            кольцо,<br>и практически любая женщина точно знает,<br>кто его носил в прошлом, и кто носит
            теперь.</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card">
          <img class="card__img img__diana" src="/assets/jewelrystory/tiffanydiamond.jpg" alt="">
          <h2 class="card__title">Колье с желтым бриллиантом<br>Tiffany Diamond</h2>
          <p class="card__text"> В честь дня рождения Чарльза Льюиса<br>Тиффани, основателя
            культового<br>ювелирного бренда, который появился<br>на свет 210 лет назад...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card">
          <img class="card__img img__diana" src="/assets/jewelrystory/elizabethtaylor.jpg" alt="">
          <h2 class="card__title">Кольцо Элизабет Тейлор</h2>
          <p class="card__text">Элизабет Тейлор 10 раз была<br>помолвлена, 8 раз выходила замуж, 7<br>раз
            разводилась и 1 раз овдовела...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card" href="<%= jewelry_path %>">
          <img class="card__img img__diana" src="/assets/jewelrystory/gracekelly.jpg" alt="">
          <h2 class="card__title">Ювелирная коллекция<br>Грейс Келли</h2>
          <p class="card__text">Вспоминаем самые роскошные<br>украшения из её обширной
            ювелирной<br>коллекции и удивительные истории,<br>стоящие за каждым из этих<br>легендарных
            изделий...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card">
          <img class="card__img img__diana" src="/assets/jewelrystory/present.jpg" alt="">
          <h2 class="card__title">Идеальный подарок<br>любимой на 14 февраля</h2>
          <p class="card__text">Известные ювелирные бренды<br>наперебой спешат представить к 14<br>февраля
            свои специальные линии, в<br>которых обязательно присутствуют<br>элементы в виде сердечек...
          </p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card card--long">
          <img class="card__img img__diana" src="/assets/jewelrystory/diamond.jpg" alt="">
          <h2 class="card__title">Роскошный подарок от свекрови:<br>бриллиантовое колье из книги
            рекордов<br>Гиннеса</h2>
          <p class="card__text">Золотистый бриллиант размером с яйцо,<br>украшающий невероятно красивое
            ожерелье,<br>сейчас хранится в шкатулке одной индийской<br>счастливицы...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card">
          <img class="card__img img__diana" src="/assets/jewelrystory/film.jpg" alt="">
          <h2 class="card__title">5 колье из кино, которые стоят<br>дороже миллиона долларов</h2>
          <p class="card__text">Вспоминаем истории самых<br>завораживающих кино-драгоценностей<br>и
            выясняем, как их создавали...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card card--long">
          <img class="card__img img__diana" src="/assets/jewelrystory/necklace.jpg" alt="">
          <h2 class="card__title">Выбираем мусульманские украшения</h2>
          <p class="card__text">Одними из главных постулатов Ислама<br>традиционно остаются скромность и
            умеренность.<br>Поэтому выбор может оказаться сложнее, чем для<br>представителей других
            конфессий...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
        <a class="cards__item card">
          <img class="card__img img__diana" src="/assets/jewelrystory/movie.jpg" alt="">
          <h2 class="card__title">Коктейльные кольца<br>и громкие заявления</h2>
          <p class="card__text">Какая связь между шампанским,<br>аперолем, драгоценными аксессуарами<br>и
            женской свободой? Против чего<br>протестовали американские женщины<br>«ревущих 20-х»...</p>
          <p class="author__text">Автор: Анастасия Волковская</p>
        </a>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <img class="footer__detail" src="/assets/common/footer.png" alt="">
    <div class="subscribe__wrapper">
      <div class="row">
        <div class="follow">
          <h1 class="footer__name title--wht">
            <span class="footer_word">Ш</span>катулка
          </h1>
          <p class="footer__text">Шкатулка — самый утонченный медиа-сервис,<br>хранящий истории
            легендарных
            украшений<br>и драгоценных камней</p>
        </div>
        <div class="column">
          <div class="distribution__wrapper">
            <h3 class="distribution__title">Следите за нашими новостями!</h3>
            <div class="footer__flex">
              <div class="follow">
                <form action="" class="follow__form">
                  <input class="follow__email" type="email" placeholder="">
                  <button class="follow__btn" type="submit">Отправить</button>
                </form>
              </div>
            </div>
            <div class="wrapper__footer">
              <div class="wrapper__info">
                <div class="footer__info">
                  <h3 class="footer__subtitle">Поддержка</h3>
                  <ul class="footer__menu">
                    <li><a class="footer__common text--opacity" href="">Сообщить об
                      ошибке</a>
                    </li>
                    <li><a class="footer__common text--opacity" href="">shkatulka@mail.ru</a>
                    </li>
                  </ul>
                </div>
                <div class="footer__info">
                  <h3 class="footer__subtitle">О нас</h3>
                  <ul class="footer__menu">
                    <li><a class="footer__common text--opacity " href="">Команда</a></li>
                    <li><a class="footer__common text--opacity " href="">Правила
                      платформы</a>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="footer__detals">
                <li><a class="footer__common common--white ">Пользовательское
                  соглашение</a></li>
                <li><a class="footer__common common--white " href="">HSE ADC</a></li>
                <a class="copyright">@2023</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
