<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shkatulka</title>
  <link href="https://fonts.cdnfonts.com/css/bickham-script-one" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<header class="header">
  <div class="wrapper">
    <div class="header__logo search">
      <img class="logo" src="/asstes/header/logo.svg" alt="">
      <h1 class="logo_title title title--black ">
        <span class="logo_word word">Ш</span>катулка
      </h1>
      <div class="header__icons icons">
        <a href="<%= enter_path %>">
          <img class="profile" src="/assets/header/profile.svg" alt="">
        </a>
        <a href="">
          <img class="Search" src="/assets/header/Search.svg" alt="">
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="highlight"></div>
    </div>
    <div class="header__nav nav">
      <a class="nav__link " href="<%= trends_path %>">Тренды</a>
      <a class="nav__link " href="<%= stones_path %>">Камни</a>
      <a class="nav__link nav__link--selected" href="<%= jewelrystory_path %>">Украшения</a>
      <a class="nav__link" href="<%= history_path %>">История</a>
    </div>
  </div>
</header>
<section class="main-section">
  <div class="main__navigation">
    <a href="<%= jewelry_path %>" class="bttn">
      <img src="/assets/jewelry/btn.svg" alt="">
    </a>
    <p class="author grey__text">Автор
      статьи:<br>Анастасия
      Волковская</p>
  </div>
  <div class="background">
    <div class="banner">
      <div class="banner__content">
      </div>
      <div class="jewelry">
        <div class="title__name">
          <p class="tab grey__text">Укррашения/<br>Украшения Грейс Келли</p>
          <h1 class="jewelry_title">Украшения Грейс Келли</h1>
          <div class="icon">
            <img class="icon__img" src="/assets/jewelry/watch.svg" alt="">
            <p class="icon__text grey__text">1237</p>
            <img class="icon__img" src="/assets/jewelry/like.svg" alt="">
            <p class="icon__text grey__text">543</p>
          </div>
        </div>
        <div class="line">
          <p class="data__text grey__text">02.02.2024</p>
        </div>
        <p class="jewelry__text">Принцесса Грейс — оскароносная звезда мирового кино, любимица Хичкока и
          обожаемая жена принца<br>Ренье. Жизнь Грейс напоминала голливудскую сказку, а пристальное
          внимание публики появилось задолго<br>до того, как 19 апреля 1956 года состоялась свадьба
          века — знаменитая актриса стала княгиней Монако.<br>
          Принцесса Грейс — оскароносная звезда мирового кино, любимица Хичкока и обожаемая жена
          принца<br>Ренье. Жизнь Грейс напоминала голливудскую сказку, а пристальное внимание публики
          появилось задолго<br>до того, как 19 апреля 1956 года состоялась свадьба века — знаменитая
          актриса стала княгиней Монако.
        </p>
        <div class="jewelry_cover">
          <div class="jewelry_flex">
            <div class="img__text">
              <img src="/assets/jewelry/grace1.jpg" alt="">
              <h2 class="cover_name">Архивные фотографии</h2>
            </div>
            <img class="grace2" src="/assets/jewelry/grace2.jpg" alt="">
          </div>
          <div class="flex">
            <h1 class="title_flex jewelry_title">Два помолвочных кольца</h1>
            <p class="jewelry__text">Князь Ренье III был так влюблен в Грейс, что, когда решил сделать
              ей
              предложение, захватил с собой сразу<br>два роскошных кольца. Первое украшение
              символизировало флаг Монако — кольцо с чередованием<br>бриллиантов и красных рубинов.
              Второе — самое любимое у Грейс — кольцо с бриллиантом в изумрудной<br>огранке в 10,47
              карат
              и двумя бриллиантами в форме багет по бокам. В этом кольце актриса блистала в<br>фильме
              «Высшее общество». </p>
            <div class="jewelry_flex">
              <div class="img__text">
                <img src="/assets/jewelry/ring1.jpg" alt="">
                <h2 class="cover_name">Архивные фотографии</h2>
              </div>
              <img class="ring" src="/assets/jewelry/ring2.jpg" alt="">
            </div>
          </div>
          <div class="flex">
            <h1 class="title_flex jewelry_title">Свадебный подарок</h1>
            <p class="jewelry__text">Князь Ренье III был так влюблен в Грейс, что, когда решил сделать
              ей предложение, захватил с собой сразу<br>два роскошных кольца. Первое украшение
              символизировало флаг Монако — кольцо с чередованием<br>бриллиантов и красных рубинов.
              Второе — самое любимое у Грейс — кольцо с бриллиантом в изумрудной<br>огранке в 10,47
              карат
              и двумя бриллиантами в форме багет по бокам. В этом кольце актриса блистала<br>в фильме
              «Высшее общество».</p>
            <div class="jewelry_flex">
              <div class="img__text">
                <img src="/assets/jewelry/present.jpg" alt="">
                <h2 class="cover_name">Архивные фотографии</h2>
              </div>
              <img class="ring" src="/assets/jewelry/present2.jpg" alt="">
            </div>
          </div>
          <div class="flex">
            <h1 class="title_flex jewelry_title">Тиара с кабошонами</h1>
            <p class="jewelry__text">Великолепную тиару Bains de Mer от Cartier Грейс Келли надела на
              следующий день после свадьбы.<br>Бриллиантовое украшение декорировано тремя цветками с
              рубиновыми кабошонами в центре. Каждый<br>цветок снимается и превращается в
              брошь. Вместе с
              тиарой на Грейс красовалось бриллиантовое колье,<br>которое позже по заказу княгини
              будет
              переделано в тиару. Точную копию этого украшения можно увидеть<br>на актрисе Николь
              Кидман,
              сыгравшей Грейс Келли в фильме «Принцесса Монако».</p>
            <div class="jewelry_flex">
              <div class="img__text">
                <img src="/assets/jewelry/set.jpg" alt="">
                <h2 class="cover_name">Архивные фотографии</h2>
              </div>
              <img class="ring" src="/assets/jewelry/set2.jpg" alt="">
            </div>
          </div>
          <div class="flex">
            <h1 class="title_flex jewelry_title">Легендарные четырехлистники </h1>
            <p class="jewelry__text">Великолепную тиару Bains de Mer от Cartier Грейс Келли надела на
              следующий день после свадьбы.<br>Бриллиантовое украшение декорировано тремя цветками с
              рубиновыми кабошонами в центре. Каждый<br>цветок снимается и превращается в
              брошь. Вместе с
              тиарой на Грейс красовалось бриллиантовое колье,<br>которое позже по заказу княгини
              будет
              переделано в тиару. Точную копию этого украшения можно увидеть<br>на актрисе Николь
              Кидман,
              сыгравшей Грейс Келли в фильме «Принцесса Монако».</p>
            <div class="jewelry_flex">
              <div class="img__text">
                <img src="/assets/jewelry/vancleef.jpg" alt="">
                <h2 class="cover_name">Архивные фотографии</h2>
              </div>
              <img class="ring" src="/assets/jewelry/vancleef2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="popular">
        <div class="wrapper">
          <div class="title-group">
            <a class="popular title-main" href="">Рекомендуемые</a>
            <div class="divider__second">
              <div class="highlight__second"></div>
            </div>
          </div>
          <div class="popular rec__visible popular__slider">
            <div class="popular__flex rec__flex ">
              <div class="popular__item rec__item">
                <img class="popular__img rec__img" src="/assets/trends/card3.jpg" alt="">
                <p class="popular__text rec__text text"> Трансформируемое колье<br>Snowflake
                  collerette</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </div>
              <div class="popular__item rec__item">
                <img class="popular__img rec__img" src="/assets/trends/card4.jpg" alt="">
                <p class="popular__text rec__text text">Фамильная тиара Спенсеров</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </div>
              <div class="popular__item rec__item">
                <img class="popular__img rec__img" src="/assets/trends/card5.jpg" alt="">
                <p class="popular__text rec__text text">ROSE Х Tiffany HardWear</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </div>
              <div class="popular__item rec__item hidden">
                <img class="popular__img rec__img" src="/assets/trends/6.jpg" alt="">
                <p class="popular__text rec__text text"> Крупный сапфир<br>в обрамлении
                  риллиантов<br>б— это брошь</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </div>
              <div class="popular__item rec__item hidden">
                <img class="popular__img rec__img" src="/assets/trends/7.jpg" alt="">
                <p class="popular__text rec__text text"> Элизабет Тейлор<br>— королева рубинов</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </div>
              <div class="popular__item rec__item hidden">
                <img class="popular__img rec__img" src="/assets/trends/8.jpg" alt="">
                <p class="popular__text rec__text text"> В переводе с итальянского<br>«Serpenti» —
                  это «змеи»</p>
                <button class="popular__btn rec__btn">#Камни</button>
              </div>
            </div>
            <button class="next_btn">
              <img src="/assets/trends/next.svg" alt="">
            </button>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="comment__wrapper">
          <div class="title-group">
            <h1 class="jewelry_title">2 комментария</h1>
            <div class="divider__second">
              <div class="highlight__second"></div>
            </div>
          </div>
          <div class="comment">
            <div class="cooment1">
              <div class="slot">
                <img class="avatar" src="/assets/comment/avatar1.jpg" alt="Avatar">
                <div class="account-info">
                  <span class="account-name">Cherrygirl</span>
                  <span class="time-ago">2 часа</span>
                </div>
              </div>
              <div class="comment-content">
                <p class="comment-text">Какая красота! Глаз не оторвать</p>
                <div class="interactions">
                  <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
                  <span class="like-count">8</span>
                  <span class="reply">Ответить</span>
                </div>
              </div>
            </div>
            <div class="cooment2">
              <div class="slot">
                <img class="avatar" src="/assets/comment/avatar2.jpg" alt="Avatar">
                <div class="account-info">
                  <span class="account-name">Leylalyy</span>
                  <span class="time-ago">2 часа</span>
                </div>
              </div>
              <div class="comment-content">
                <p class="comment-text">Я фанатка этой женщины!</p>
                <div class="interactions">
                  <img class="like-icon" src="/assets/comment/like.svg" alt="Like">
                  <span class="like-count">4</span>
                  <span class="reply">Ответить</span>
                </div>
              </div>
            </div>
            <div class="comment-form-container">
              <form class="comment-form" action="submit-comment.php" method="post">
                <textarea name="comment" placeholder="Написать комментарии..."></textarea>
                <button type="submit" class="submit-btn">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<footer>
  <div class="container">
    <img class="footer__detail" src="/assets/common/footer.png" alt="">
    <div class="subscribe__wrapper">
      <div class="row">
        <div class="follow">
          <h1 class="footer__name title--wht">
            <span class="footer_word">Ш</span>катулка
          </h1>
          <p class="footer__text">Шкатулка — самый утонченный медиа-сервис,<br>хранящий истории
            легендарных
            украшений<br>и драгоценных камней</p>
        </div>
        <div class="column">
          <div class="distribution__wrapper">
            <h3 class="distribution__title">Следите за нашими новостями!</h3>
            <div class="footer__flex">
              <div class="follow">
                <form action="" class="follow__form">
                  <input class="follow__email" type="email" placeholder="">
                  <button class="follow__btn" type="submit">Отправить</button>
                </form>
              </div>
            </div>
            <div class="wrapper__footer">
              <div class="wrapper__info">
                <div class="footer__info">
                  <h3 class="footer__subtitle">Поддержка</h3>
                  <ul class="footer__menu">
                    <li><a class="footer__common text--opacity" href="">Сообщить об
                      ошибке</a>
                    </li>
                    <li><a class="footer__common text--opacity" href="">shkatulka@mail.ru</a>
                    </li>
                  </ul>
                </div>
                <div class="footer__info">
                  <h3 class="footer__subtitle">О нас</h3>
                  <ul class="footer__menu">
                    <li><a class="footer__common text--opacity " href="">Команда</a></li>
                    <li><a class="footer__common text--opacity " href="">Правила
                      платформы</a>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="footer__detals">
                <li><a class="footer__common common--white ">Пользовательское
                  соглашение</a></li>
                <li><a class="footer__common common--white " href="">HSE ADC</a></li>
                <a class="copyright">@2023</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</footer>
<script src="script.js"></script>
</body>
</html>
