    <% content_for :stylesheets do %>
      <%= stylesheet_link_tag "search", "zircon", "jewelry", "jewelrystory", "stones", "comment" %>
    <% end %>

    <% content_for :javascripts do %>
      <%= javascript_include_tag "search_new" %>
    <% end %>

    <header class="header">
        <div class="wrapper">
            <div class="header__logo search">
                <img class="logo" src="/assets/header/logo.svg" alt="">
                <h1 class="logo_title title title--black ">
                    <span class="logo_word word">Ш</span>катулка
                </h1>
                <div class="header__icons icons">
                    <a href="./enter.html">
                        <img class="profile" src="/assets/header/profile.svg" alt="">
                    </a>
                    <a href="./search.html">
                        <img class="Search" src="/assets/header/Search.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="divider">
                <div class="highlight"></div>
            </div>
            <div class="haeder__nav nav">
                <a class="nav__link " href="<%= trends_path %>">Тренды</a>
                <a class="nav__link " href="<%= stones_path %>">Камни</a>
                <a class="nav__link nav__link--selected" href="<%= jewelrystory_path %>">Украшения</a>
                <a class="nav__link" href="<%= history_path %>">История</a>
            </div>
        </div>
    </header>
    <section class="search">
        <div class="identify">
            <input type="text" id="search_field" placeholder="Поиск" required="" class="form__inputt services__search form__input--large">
            <img class="search-bttn" src="/assets/search/SearchForInput.svg" alt="">
        </div>
    </section>
    <nav class="menu__filter filter">
        <button class="filter__link article-hashtag " data-filter-type="all" href="<%= stones_path %>">Камни</button>
        <button class="filter__link article-hashtag filter__link-bl filter__link--selecteed"
            data-filter-type="recommendations" href="<%= jewelrystory_path %>">Украшения</button>
    </nav>
    <div class="catalog__wrapper content__wrapper">
    </div>
    </section>
    <footer>
        <div class="container">
            <img class="footer__detail" src="/assets/common/footer.png" alt="">
            <div class="subscribe__wrapper">
                <div class="row">
                    <div class="follow">
                        <h1 class="footer__name title--wht">
                            <span class="footer_word">Ш</span>катулка
                        </h1>
                        <p class="footer__text">Шкатулка — самый утонченный
                            медиа-сервис,<br>хранящий истории
                            легендарных
                            украшений<br>и драгоценных камней</p>
                    </div>
                    <div class="column">
                        <div class="distribution__wrapper">
                            <h3 class="distribution__title">Следите за нашими новостями!</h3>
                            <div class="footer__flex">
                                <div class="follow">
                                    <form action="" class="follow__form">
                                        <input class="follow__email" type="email" placeholder="">
                                        <button class="follow__btn" type="submit">Отправить</button>
                                    </form>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="wrapper__info">
                                    <div class="footer__info">
                                        <h3 class="footer__subtitle">Поддержка</h3>
                                        <ul class="footer__menu">
                                            <li><a class="footer__common text--opacity" href="">Сообщить об
                                                    ошибке</a>
                                            </li>
                                            <li><a class="footer__common text--opacity" href="">shkatulka@mail.ru</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer__info">
                                        <h3 class="footer__subtitle">О нас</h3>
                                        <ul class="footer__menu">
                                            <li><a class="footer__common text--opacity " href="">Команда</a>
                                            </li>
                                            <li><a class="footer__common text--opacity " href="">Правила
                                                    платформы</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="footer__detals">
                                    <li><a class="footer__common common--white ">Пользовательское
                                            соглашение</a></li>
                                    <li><a class="footer__common common--white " href="">HSE ADC</a>
                                    </li>
                                    <a class="copyright">@2023</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>